.icon-row,
.icon-row__two,
.icon-row__three {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 30px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 33px;
  margin: 15px 0px;
}

.icon-row__icon span {
  width: 80px;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
}

.icon-row__two .icon-row__icon:nth-child(3) {
  opacity: 0;
}
.icon-row__two .icon-row__icon:nth-child(4) {
  opacity: 0;
}

.icon-row__three .icon-row__icon:last-child {
    opacity: 0;
}