.profile-component {
  justify-content: space-between;
}

.profile-component,
.profile-component__column:first-child {
  display: flex;
  align-items: center;
}

.profile-component__pic {
  width: 70px;
  height: 70px;
  border-radius: 35%;
  margin-right: 18px;
}

.profile-component__pic--xl {
  width: 80px;
  height: 80px;
}

.profile-component__pic--sm {
  width: 60px;
  height: 60px;
}

.profile-component__name {
  font-size: 21px;
  font-weight: 600;
  color: #0c0b0c;
}

.profile-component__subtitle {
  margin-top: 7px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.profile-component__name--list {
  font-weight: 400;
}

.profile-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
